<a href="{{ url_for('user.authorize_google')}}"><button type="button" style="background:#4285f4; color:white; border:none; width:110px; height:40px; border-radius:3%;cursor:pointer;"><img src="https://www.iconfinder.com/data/icons/social-media-2210/24/Google-512.png" style="width:30px; background:white; border-radius:50%;" alt=""><b style="top: -10px; left: 5px; position: relative">Google</b></button></a>
<br><br>
<a href="{{ url_for('user.authorize_amazon_spapi')}}" id="LoginWithAmazon">
    <img border="0" alt="Login with Amazon"
        src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
        width="156" height="32" />
 </a>

<!-- http://g-ecx.images-amazon.com/images/G/01/lwa/btnLWA_gold_312x64.png -->
